tap "1password/tap"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/core"
tap "teamookla/speedtest"
brew "autoconf"
brew "awscli"
brew "bat"
brew "chezmoi"
brew "cocoapods"
brew "dolt"
brew "exa"
brew "gh"
brew "ghostscript"
brew "gradle"
brew "graphicsmagick"
brew "helix"
brew "imagemagick"
brew "ios-deploy"
brew "jq"
brew "mas"
brew "neovim"
brew "nvm"
brew "postgresql@14"
brew "pure"
brew "python@3.9"
brew "qrencode"
brew "sshuttle"
brew "the_silver_searcher"
brew "teamookla/speedtest/speedtest"
brew "elixir"
brew "asdf"
brew "erlang"
cask "1password-cli"
cask "android-studio"
cask "isimulator"
cask "visual-studio-code"
cask "google-chrome"
cask "iterm2"
cask "raycast"
cask "slack"
mas "Magnet", id: 441258766
